<template>
  <div class="container">
     <form class="form-signin" >
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      <label for="inputEmail" class="sr-only">username</label>
      <input v-model="auth.username" type="text" id="inputEmail" class="form-control mb-3" placeholder="Email address" value="dev@den.loc" required autofocus>
      
      <label for="inputPassword" class="sr-only">Password</label>
      <input v-model="auth.password" type="password" id="inputPassword" class="form-control mb-3" placeholder="Password" value="123456789" required>
      
      <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" v-on:click.stop.prevent="login">Login</button>
      <!-- v-on:click.stop.prevent | https://ru.vuejs.org/v2/guide/events.html#Модификаторы-событий -->

<div class=" mt-3">
            <router-link to="/register" >Нет аккаунта? Регистрация</router-link> 
</div>
    </form>
  </div>
</template>

<script>
import Vue from "vue";
export default {
  name: "login",
  data() {
    return {
      data: [],
      auth: {
        username: "",
        password: ""
      },
      server_url: "http://smktesting.herokuapp.com/",
      server_api: "http://smktesting.herokuapp.com/api/",
      token: ""
    };
  },
  created() {},
  methods: {
    login() {
      console.log(this.auth);
      this.axios
        .post("http://smktesting.herokuapp.com/api/login/", this.auth)
        .then(response => {
          console.log(response.data);
          this.data = response.data;
          Vue.token = response.data.token;
          Vue.username = this.auth.username;
          this.$store.commit("set", { type: "auth", items: this.auth });
          this.$store.commit("set", {
            type: "token",
            items: response.data.token
          });

          this.$router.push({ name: "products" });
        });
    }
  }
};
</script>

<style scoped>
.form-signin {
  max-width: 400px;
  margin: auto;
}
</style>
