<template>
  <div class="container">
      <div class="row">
          <div class="col-lg-4" v-for="item in data" :key="item.id">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" :src="server_url+'/static/' + item.img" :alt="item.title">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.text}}</p>
                        <router-link :to="{name:'single_product', params:{id:item.id}}" class="btn btn-primary">View</router-link>

                </div>
            </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
  name: "products",
  data() {
    return {
      data: [],
      server_url: "http://smktesting.herokuapp.com/",
      server_api: "http://smktesting.herokuapp.com/api/"
    };
  },
  created() {
    this.axios.get(this.server_api + "products").then(response => {
      console.log(response.data);
      this.data = response.data;
    });
  },
  methods: {}
};
</script>

<style scoped>
</style>
