<template>
    <div class="container">
    		
        <div class="card">
            <div class="card-body">
                <div class="row">	
                    <div class="col-md-4">	
                        <img class="img-responsive" :src="server_url+'/static/' + product.img" :title="product.title" :alt="product.title"/>
                    </div>
                    <div class="col-md-8">	
                            <h2>{{product.title}}</h2>
                            <p> {{product.text}}</p>
                    </div>
                </div>
            </div>
        </div>
                
        
        <div class="row mt-5">	
            <div class="col-md-12">	
                <h3>Отзывы</h3>
            </div>
            <div class="col-md-12"> 
               <template v-if="$store.getters.getToken == null || $store.getters.getToken == ''">
                  <div class="card">
                    <div class="card-body" style="padding:50px 0px; text-align:center;">
                      Для того что-бы оставит отзыв, нужна авторизация 
                      <div class=" mt-3">
                      <router-link class="btn btn-success" to="/login">Авторизация</router-link>
                      </div>
                    </div>
                  </div>
                </template>
                <template v-else>
                <div class="comment-form card  mb-3">
                    <div class="card-header  text-white bg-primary">Оставьте отзыв</div>
                    <div class="card-body">
                         <div class="form-group">
                         <label >Рейтинг</label>
                            <star-rating class="rating-stars" :item-size="20" v-model="newComment.rate" :show-rating="false"></star-rating>
                            </div>
                            <div class="form-group">
                                <label for="review">Текст отзыва</label>
                                <textarea class="form-control" id="review" rows="3" v-model="newComment.text"></textarea>
                            </div>

                            <button @click="sendReview" class="btn btn-primary">Написать</button>
                            
                    </div>
                </div>	
                </template>
               
                <hr>
                <div class="comments">
                    <div v-for="item in comments" :key="item.id" class="comment card bg-light mb-3">
                        <div class="card-header"><star-rating class="rating-stars" :item-size="20" v-model="item.rate" :read-only="false" :show-rating="false"></star-rating></div>
                        <div class="card-body">
                            <h5 class="card-title">{{ item.created_by.username}}</h5>
                            <p class="card-text">{{item.text}}</p>
                        </div>
                         <div class="comment-time">{{convertCommentDate(item.created_at)}}</div>
                    </div>
                </div>
            </div>
        </div>
	
    </div>
</template>

<script>
import { StarRating } from "vue-rate-it"; // звездочки для выставления рейтинга craigh411.github.io/vue-rate-it

export default {
  name: "single_product",
  components: {
    StarRating
  },
  data() {
    return {
      product: [],
      server_url: "http://smktesting.herokuapp.com/",
      server_api: "http://smktesting.herokuapp.com/api/",
      comments: [],
      newComment: {
        rate: 3,
        text: ""
      }
    };
  },
  created() {
    this.getComments();
  },
  methods: {
    getComments() {
      this.axios.get(this.server_api + "products").then(response => {
        // не нашел API для сингл продукта -  придумал такой хук
        for (let i = 0; i < response.data.length; i++) {
          if (response.data[i].id == this.$route.params.id) {
            this.product = response.data[i];
            this.axios
              .get(this.server_api + "reviews/" + this.product.id)
              .then(response => {
                this.comments = response.data.sort(function(a, b) {
                  //Сортировка массива комментариев по дате создания комментария
                  return new Date(b.created_at) - new Date(a.created_at);
                });
              });
          }
        }
      });
    },
    sendReview() {
      this.axios
        .post(
          "http://smktesting.herokuapp.com/api/reviews/" +
            this.$route.params.id,
          this.newComment,
          {
            headers: {
              Authorization: "Token " + this.$store.getters.getToken
            }
          }
        )
        .then(response => {
          console.log(response.data);
          this.getComments();
        });
    },
    convertCommentDate(date) {
      var newDate = new Date(date);
      var options = {
        year: "numeric",
        month: "long",
        day: "numeric",
        weekday: "long",
        timezone: "UTC",
        hour: "numeric",
        minute: "numeric",
        second: "numeric"
      };
      return newDate.toLocaleString("ru", options);
    }
  }
};
</script>

<style scoped>
</style>
